* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-image: url('../public/img/default.jpg');
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.4s ease;
}

.hot {
  background-image: url('../public/img/hot.jpg');
}

.cold {
  background-image: url('../public/img/cold.jpg');
}

.inputContainer {
  height: 3.5rem;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.searchBar {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  height: 100%;
  width: 80%;
  background-color: rgba(87, 87, 87, 0.5);
  caret-color: rgb(32, 27, 27);
  border-radius: 8px;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(32, 27, 27);
  transition: 0.4s ease;
}

.searchBar:focus {
  background-color: rgba(87, 87, 87, 0.75);
}

.resultContainer {
  min-width: 35%;
  min-height: 15rem;
  margin-top: 5rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 8px;
  color: rgb(255, 255, 255);
}

.locationContainer {
  margin: 0.5rem 0;
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: capitalize;
  text-shadow: 0.2rem 0.2rem rgba(50, 50, 70, 0.5);
}

.currentDate {
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 0.16rem 0.16rem rgba(50, 50, 70, 0.5);
  font-style: italic;
}

.temperature {
  text-align: center;
  font-size: 2.75rem;
  font-weight: 800;
  text-shadow: 0.18rem 0.18rem rgba(50, 50, 70, 0.5);
}

.weather {
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 0.15rem 0.15rem rgba(50, 50, 70, 0.5);
}

.errorContainer {
  text-align: center;
  font-size: 1.25rem;
  color: red;
  font-weight: 600;
}

@media (max-width: 768px) {
  .app {
    padding: 2rem 1rem;
  }

  .locationContainer {
    font-size: 2.75rem;
  }

  .currentDate {
    font-size: 1.5rem;
  }

  .temperature {
    font-size: 2rem;
  }

  .weather {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .inputContainer {
    width: 75%;
  }
}